.footer {
    text-align: center;
    margin: 0 auto;

    &__desc {
        padding: 30px 0;
        font-weight: 300;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 1.05px;
        color: rgba(#fff, .5);
    }
}