@import "vars.scss";

html {
    box-sizing: border-box;

    h1,
    h2,
    h3 {
        margin: 0;
        padding: 0;
    }
}

*::after,
*::before {
    box-sizing: inherit;
}

body {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 16px;
    background-color: #171919;
    color: #fff;
}

a {
    display: inline-block;
    text-decoration: none;
}

.headtitle-left {
    font-style: normal;
    font-size: 22px;
    line-height: 32px;
    text-align: right;
    letter-spacing: 7.33333px;
    opacity: 0.5;
    position: relative;
    padding-left: 103px;
    display: inline-block;

    &::before {
        position: absolute;
        content: "";
        width: 80px;
        height: 1px;
        top: 50%;
        left: 0;
        background: #fff;
    }

}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    overflow: hidden;
}


.title {
    line-height: 85px;

    span {
        position: relative;
        font-weight: 800;
        font-size: 200px;
        left: -70px;
        color: rgba(#fff, .02)
    }

    h3 {
        position: absolute;
        top: 10%;
        right: -5px;
        font-weight: 800;
        font-size: 80px;
        color: #fff;

        &::after {
            position: absolute;
            content: "";
            width: 80px;
            height: 1px;
            top: 0;
            right: 0;
            background: $green;
        }
    }

}

.subtitle {
    display: inline-block;
    text-align: right;
    text-transform: capitalize;
    ;

    &__head {
        font-weight: 800;
        font-size: 40px;
        line-height: 86px;
        padding-right: 10px;
    }

    span {
        font-weight: 100;
        margin-top: -5px;
    }
}

.btn {
    font-weight: 800;
    font-size: 40px;
    line-height: 36px;
    color: #FFFFFF;
    text-align: center;

    span {
        display: inline-block;
        background-color: #4AF6CD;
        padding: 17px 57px 15px 17px;
        position: relative;
        margin-left: 17px;

        &::before {
            position: absolute;
            content: "";
            top: 50%;
            left: -10px;
            width: 20px;
            height: 1px;
            background-color: #fff;
        }

        &::after {
            position: absolute;
            content: "";
            top: 50%;
            right: 17px;
            width: 25px;
            height: 21px;
            background-image: url(../img/arrow-btn.svg);
            transform: translateY(-50%);
        }
    }

}

.serf__subtitle,
.holder__subtitle {
    text-align: right;
    padding-right: 80px;
    margin-top: -86px;
}


.headtitle-right {
    width: 138px;
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 7.33333px;
    opacity: 0.5;
    position: relative;

    &:after {
        content: "";
        position: absolute;
        width: 80px;
        background: rgba(#fff, 0.5);
        height: 1px;
        right: -104px;
        top: 50%;
    }
}

.travel,
.sleep,
.serf,
.shop {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 65px 0 180px;

    .slider-arrows {
        padding-right: 40px;
        opacity: .35;
    }
}