.serf {
    display: block;
    padding-top: 300px;
}

.serf-box {
    &__wrapper {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }


    position: relative;

    .serf-box__inner-btn {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translatex(-50%);
        text-align: center;
        white-space: nowrap;
        display: none;
    }
}

.serf-slider {
    padding-top: 80px;

    .slider-arrows {
        opacity: 0.25
    }

    .slick-current {
        .serf-box__inner {
            background-color: rgba(#1C2121, .3);

            &-btn {
                display: block;
            }
        }
    }
}

.serf__subtitle {
    text-align: right;
    padding-right: 80px;
    margin-top: -86px;
}



.slick-slide:nth-child(4n+1) {
    .serf-box {
        margin-top: 83px;
    }
}

.slick-slide:nth-child(4n+3) {
    .serf-box {
        margin-top: 32px;
    }
}



.serf-box__inner {
    min-height: 750px;

}



.serf-box__inner {
    transition: background-color .3s;

    &:hover {
        background-color: rgba(#1C2121, .3);

        .serf-box__inner-btn {
            display: block;
        }
    }

    background-color: rgba(#1C2121, .85)
}

.serf-box__inner-title {
    position: absolute;
    top: 72px;
    left: 40px;
    width: 50px;
    font-weight: 800;
    font-size: 40px;
    line-height: 36px;
}

.serf-box__inner-location {
    width: 0;
    height: 0;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 8px;
    transform: rotate(-90deg);
    position: absolute;
    bottom: 80px;
    left: 38px;
    white-space: nowrap;

    span {
        font-weight: 100;
    }
}

.slider-map {
    max-width: 1280px;
    min-height: 634px;
    margin: 0 auto;

    &__wrapper {
        background-image: url(../img/serf-map.png);
        background-position: cover;
        background-position-x: 20px;
        background-repeat: no-repeat;
        background-size: contain;
    }

    position: relative;

    .slick-list {
        min-height: 634px;
    }

    .slick-current {
        .slider-map__dots-content {
            display: block;
        }
    }
}

.slider-map__dots-circle {
    position: relative;
    //imotant
    z-index: -2;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $green;
    box-shadow: 0px 0 15px 2px $green;
}




.slider-map__dots-content {
    display: none;
    width: 283px;
    border-radius: 10px;
    background-color: rgba(black, .35);
    padding: 15px 15px 15px 15px;
    position: absolute;
    top: -217px;
    left: -80%;

    .slider-map__dots-content-row {
        display: flex;
        justify-content: space-between;

        .slider-map__dots-content-item-img {
            padding-bottom: 10px;
        }

        .slider-map__dots-content-item-number {
            padding-bottom: 10px;
        }
    }

    .slider-map__dots-content-title {
        font-weight: 800;
        font-size: 18px;
        line-height: 26px;
        position: relative;
        margin-bottom: 25px;

        &::before {
            position: absolute;
            content: "";
            width: 100px;
            height: 1px;
            background-color: $green;
            bottom: -5px;
        }




        .slider-map__dots-content-item-img {
            padding-bottom: 10px;
        }

        .slider-map__dots-content-item-number {
            padding-bottom: 10px;
        }
    }

    .slider-map__dots-content-subtitle {
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 25px;
    }

    &::before {
        position: absolute;
        top: 199px;
        left: 130px;
        content: "";
        border: 8px solid transparent;
        border-bottom: 15px solid #4af6cd;
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;
    }
}

.slider-map__dots {
    position: relative;
}

.slider-map__dots--1 {
    top: 305px;
    left: 10%;

    .slider-map__dots-content {
        transform: translateX(120px);

        &::before {
            left: 10px;
        }
    }
}

.slider-map__dots--2 {
    top: 269px;
    left: -16%;
}

.slider-map__dots--3 {
    top: 333px;
    left: 17%;
}

.slider-map__dots--4 {
    top: 498px;
    left: -37%;
}

.slider-map__dots--5 {
    top: 224px;
    left: -60%;
}

.slider-map__dots--6 {
    top: 570px;
    left: -100%;
}

.slider-map__dots--7 {
    top: 400px;
    left: -85%;
}

.slider-map__dots--8 {
    top: 460px;
    left: 3%;

    .slider-map__dots-content {
        transform: translateX(-160px);

        &::before {
            left: 290px;
        }
    }
}