.travel {
    background-image: url(../img/cocktail.png);
    background-repeat: no-repeat;
    background-position: 1582px 1200px;
}

.holder-item {
    position: relative;
    top: -45px;
    max-width: 100%;
    min-height: 780px;
    position: relative;
}

.holder-item__bg {
    max-width: 100%;
    min-height: 780px;
    background-repeat: no-repeat;
    background-position: 730px 500px, 0 1px;
    background-size: 700px 300px, contain, ;
    position: relative;

}

.holder-item__desc {
    position: absolute;
    left: 135px;
    top: 80%;

}

.travel__subtitle-head {
    &::after {
        position: absolute;
        content: "";
        width: 52px;
        height: 46px;
        background-image: url(../img/plant-logo.svg);
        margin-left: 50px;
        top: 43%;
    }
}



.holder-item__info {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    padding: 0 140px 0 135px;
}

.holder-item__info-item {
    width: 310px;
    height: 220px;
}


.holder-item__info-value {

    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    padding-left: 30px;
    position: relative;

    &-desc {
        font-size: 14px;
        font-weight: normal;
        line-height: 36px;
        text-align: right;
        letter-spacing: 5.25px;
        color: rgba(#fff, .75);
        position: absolute;
        right: 25px;
        bottom: -35px;
    }
}

.holder-item__info-item {
    position: relative;
}

.holder-item__info-name {
    width: 200px;
    text-align: right;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    letter-spacing: 8px;
    color: rgba(255, 255, 255, .5);
    transform: rotate(-90deg);
    white-space: nowrap;
    position: absolute;
    top: 93px;
    left: -92px;
}

.holder-btn {
    text-align: center;
    width: 400px;
    margin: 0 auto;
    margin-top: 70px;
}